openapi: 3.0.3

info:
  title: WarehouseJobs.com API
  version: 1.0.2
  description: |
    RESTful API for the WarehouseJobs.com platform.

    ## Authentication
    Most endpoints require a `Bearer` JWT issued by the WarehouseJobs auth service
    (`POST /api/v1/auth/login`). Pass it in the `Authorization` header:

    ```
    Authorization: Bearer <token>
    ```

    Three roles are recognised:
    - **admin** – platform operators; full access to all resources
    - **vendor** – authenticated employers; manage their company's jobs and applicants
    - **seeker** – job seekers; apply to jobs, view their own applications

    Batch ingestion endpoints additionally accept a long-lived `X-Api-Key` header
    issued to trusted scrapers and feed partners.

  contact:
    name: WarehouseJobs Engineering
    email: dev@warehousejobs.com
  license:
    name: Private

servers:
  - url: https://api.warehousejobs.com
    description: Production
  - url: http://localhost:3001
    description: Local development

# ──────────────────────────────────────────────────────────────────────────────
# Security schemes
# ──────────────────────────────────────────────────────────────────────────────

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by POST /api/v1/auth/login
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Long-lived API key for batch ingestion (scrapers / feed partners)

  # ──────────────────────────────────────────────────────────────────────────
  # Reusable schemas
  # ──────────────────────────────────────────────────────────────────────────

  schemas:
    # ── Company ─────────────────────────────────────────────────────────────
    CompanyProfile:
      type: object
      required: [id, ownerId, name, slug, createdAt]
      properties:
        id: { type: string, format: uuid }
        ownerId: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        website: { type: string, format: uri, nullable: true }
        logoUrl: { type: string, format: uri, nullable: true }
        industry: { type: string, nullable: true }
        hqCity: { type: string, nullable: true }
        hqState: { type: string, nullable: true }
        location: { type: string, nullable: true }
        verified: { type: boolean }
        createdAt: { type: string, format: date-time }

    PublicCompanyProfile:
      type: object
      description: Public employer profile for company landing pages (no owner PII).
      required: [id, name, slug, verified]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        website: { type: string, format: uri, nullable: true }
        logoUrl: { type: string, format: uri, nullable: true }
        industry: { type: string, nullable: true }
        hqCity: { type: string, nullable: true }
        hqState: { type: string, nullable: true }
        location: { type: string, nullable: true }
        verified: { type: boolean }

    AdminCompanyRecord:
      type: object
      required: [id, name, slug, verified, verificationStatus, status, createdAt]
      properties:
        id: { type: string, format: uuid }
        ownerId: { type: string, format: uuid, nullable: true }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        website: { type: string, nullable: true }
        logoUrl: { type: string, nullable: true }
        industry: { type: string, nullable: true }
        hqCity: { type: string, nullable: true }
        hqState: { type: string, nullable: true }
        location: { type: string, nullable: true }
        status: { type: string, enum: [active, suspended] }
        verified: { type: boolean }
        verificationStatus: { type: string, enum: [unverified, pending, verified, rejected] }
        verifiedAt: { type: string, format: date-time, nullable: true }
        verifiedBy: { type: string, format: uuid, nullable: true }
        verificationNote: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }

    AdminUpdateCompanyBody:
      type: object
      properties:
        status: { type: string, enum: [active, suspended] }
        verified: { type: boolean }
        verificationStatus: { type: string, enum: [unverified, pending, verified, rejected] }
        verificationNote: { type: string, nullable: true }

    UpsertCompanyBody:
      type: object
      required: [name, industry, hqCity, hqState]
      properties:
        name: { type: string, minLength: 2, maxLength: 120 }
        website: { type: string, format: uri, nullable: true }
        industry: { type: string }
        hqCity: { type: string }
        hqState: { type: string }
        description: { type: string, maxLength: 2000, nullable: true }
        logoUrl: { type: string, format: uri, nullable: true }

    # ── Pagination ──────────────────────────────────────────────────────────
    PaginationMeta:
      type: object
      required: [total, page, pageSize, totalPages]
      properties:
        total: { type: integer, example: 342 }
        page: { type: integer, example: 1 }
        pageSize: { type: integer, example: 20 }
        totalPages: { type: integer, example: 18 }

    # ── Error ──────────────────────────────────────────────────────────────
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: NOT_FOUND }
        message: { type: string, example: "Job not found" }
        details: { type: object, additionalProperties: true }

    # ── Auth ───────────────────────────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [email, password, role]
      properties:
        email:
          type: string
          format: email
          example: jane@example.com
        password:
          type: string
          minLength: 8
          example: "SecureP@ss1"
        role:
          type: string
          enum: [seeker, vendor]
          example: seeker
        fullName:
          type: string
          example: Jane Smith

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email, example: jane@example.com }
        password: { type: string, example: "SecureP@ss1" }

    AuthTokens:
      type: object
      required: [accessToken, refreshToken, expiresIn]
      properties:
        accessToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
          example: "def50200..."
        expiresIn:
          type: integer
          description: Seconds until accessToken expires
          example: 3600

    UserProfile:
      type: object
      required: [id, email, role]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        role: { type: string, enum: [admin, vendor, seeker] }
        fullName: { type: string, nullable: true }
        phone: { type: string, nullable: true }
        emailVerifiedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    # ── Job ────────────────────────────────────────────────────────────────
    JobSourceType:
      type: string
      enum: [direct, scraped, api, syndicated]
      description: |
        How the job was created.
        - `direct` – employer posted via the platform UI
        - `scraped` – ingested by an automated scraper
        - `api` – posted via the vendor API
        - `syndicated` – imported from a partner XML/JSON feed

    EmploymentType:
      type: string
      enum: [full_time, part_time, temp, temp_to_hire, contract, seasonal]

    JobShift:
      type: string
      enum: [first, second, third, weekend, flexible]

    JobStatus:
      type: string
      enum: [draft, active, published, closed, expired]

    TemperatureEnv:
      type: string
      enum: [ambient, cooler, freezer]
      nullable: true

    ScreeningQuestion:
      type: object
      description: Screening question on a job response (includes server-assigned id).
      required: [prompt, type, required, sortOrder]
      properties:
        id: { type: string, format: uuid }
        prompt: { type: string, example: "Do you have a valid forklift certification?" }
        type:
          type: string
          enum: [yes_no, single, multi, number, text]
        options:
          type: array
          items: { type: string }
          nullable: true
          description: Required when type is single or multi
        required: { type: boolean }
        sortOrder: { type: integer }

    CreateScreeningQuestion:
      type: object
      description: Screening question for job create. Optional `id` is ignored if sent (e.g. copied from a GET response).
      required: [prompt, type, required, sortOrder]
      properties:
        id:
          type: string
          format: uuid
          description: Ignored on create — server assigns the question id.
        prompt: { type: string, example: "Do you have a valid forklift certification?" }
        type:
          type: string
          enum: [yes_no, single, multi, number, text]
        options:
          type: array
          items: { type: string }
          nullable: true
        required: { type: boolean }
        sortOrder: { type: integer }

    JobBase:
      type: object
      required: [title, category, location, employmentType, shift, description]
      properties:
        title:
          type: string
          minLength: 3
          maxLength: 120
          example: Reach Truck Operator — 2nd Shift
        category:
          type: string
          example: Forklift Operator
        categorySlug:
          type: string
          example: forklift-operator
        companyId:
          type: string
          format: uuid
          description: Required for admin posts; inferred from JWT for vendor posts
        location:
          type: string
          example: "Dallas, TX"
        city: { type: string, example: Dallas }
        state: { type: string, minLength: 2, maxLength: 2, example: TX }
        zip: { type: string, example: "75201", nullable: true }
        lat: { type: number, format: double, nullable: true }
        lng: { type: number, format: double, nullable: true }
        employmentType: { $ref: "#/components/schemas/EmploymentType" }
        shift: { $ref: "#/components/schemas/JobShift" }
        payMin: { type: number, example: 18.00, nullable: true }
        payMax: { type: number, example: 22.00, nullable: true }
        payPeriod:
          type: string
          enum: [hour, day, week, month, year]
          example: hour
          nullable: true
        description:
          type: string
          minLength: 30
          maxLength: 5000
        requirements:
          type: string
          maxLength: 3000
          nullable: true
        temperatureEnv: { $ref: "#/components/schemas/TemperatureEnv" }
        certificationsRequired:
          type: array
          items: { type: string }
          example: [sit_down_forklift, reach_truck]
        liftRequirementLbs:
          type: integer
          nullable: true
          example: 50
        overtimeAvailable: { type: boolean, default: false }
        weeklyPay: { type: boolean, default: false }
        quickHire: { type: boolean, default: false }

    CreateJobRequest:
      allOf:
        - $ref: "#/components/schemas/JobBase"
        - type: object
          properties:
            featured:
              type: boolean
              default: false
            companyPackageId:
              type: string
              format: uuid
              description: Package credit to consume; required for admin and vendor posts
            screeningQuestions:
              type: array
              items: { $ref: "#/components/schemas/CreateScreeningQuestion" }
            status:
              $ref: "#/components/schemas/JobStatus"

    UpdateJobRequest:
      type: object
      description: Partial update — all fields optional
      properties:
        title: { type: string }
        description: { type: string }
        requirements: { type: string }
        status: { $ref: "#/components/schemas/JobStatus" }
        featured: { type: boolean }
        featuredUntil: { type: string, format: date-time, nullable: true }
        expiresAt: { type: string, format: date-time, nullable: true }
        payMin: { type: number }
        payMax: { type: number }
        quickHire: { type: boolean }
        weeklyPay: { type: boolean }
        overtimeAvailable: { type: boolean }

    Job:
      allOf:
        - $ref: "#/components/schemas/JobBase"
        - type: object
          required: [id, slug, status, postedAt, createdAt, sourceType, views]
          properties:
            id: { type: string, format: uuid }
            slug: { type: string, example: reach-truck-operator-2nd-shift-dallas-tx }
            status: { $ref: "#/components/schemas/JobStatus" }
            sourceType: { $ref: "#/components/schemas/JobSourceType" }
            externalId: { type: string, nullable: true }
            sourceUrl: { type: string, format: uri, nullable: true }
            featured: { type: boolean }
            featuredUntil: { type: string, format: date-time, nullable: true }
            views: { type: integer, default: 0 }
            postedAt: { type: string, format: date-time }
            expiresAt: { type: string, format: date-time, nullable: true }
            createdAt: { type: string, format: date-time }
            company:
              type: object
              nullable: true
              properties:
                id: { type: string, format: uuid }
                name: { type: string }
                slug: { type: string }
                verified: { type: boolean }
                logoUrl: { type: string, format: uri, nullable: true }

    JobSummary:
      type: object
      description: Compact job card representation used in search results
      required: [id, slug, title, location, employmentType, shift, postedAt, sourceType]
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        title: { type: string }
        category: { type: string }
        location: { type: string }
        city: { type: string, nullable: true }
        state: { type: string, nullable: true }
        employmentType: { $ref: "#/components/schemas/EmploymentType" }
        shift: { $ref: "#/components/schemas/JobShift" }
        payMin: { type: number, nullable: true }
        payMax: { type: number, nullable: true }
        payPeriod: { type: string, nullable: true }
        featured: { type: boolean }
        quickHire: { type: boolean }
        weeklyPay: { type: boolean }
        sourceType: { $ref: "#/components/schemas/JobSourceType" }
        postedAt: { type: string, format: date-time }
        company:
          type: object
          nullable: true
          properties:
            name: { type: string }
            slug: { type: string }
            verified: { type: boolean }

    # ── Batch Ingestion ───────────────────────────────────────────────────
    BatchJobItem:
      type: object
      required: [title, location, employmentType, shift, description, sourceType]
      description: Single job record in a batch payload
      properties:
        externalId:
          type: string
          description: Unique identifier from the source system; used for deduplication
          example: "ACME-12345"
        sourceUrl:
          type: string
          format: uri
          nullable: true
          example: "https://source.com/jobs/12345"
        companyName:
          type: string
          description: Company name string; matched to existing companies or created
        title: { type: string }
        category: { type: string, nullable: true }
        location: { type: string }
        city: { type: string, nullable: true }
        state: { type: string, nullable: true }
        zip: { type: string, nullable: true }
        employmentType: { $ref: "#/components/schemas/EmploymentType" }
        shift: { $ref: "#/components/schemas/JobShift" }
        payMin: { type: number, nullable: true }
        payMax: { type: number, nullable: true }
        payPeriod: { type: string, nullable: true }
        description: { type: string }
        requirements: { type: string, nullable: true }
        sourceType: { $ref: "#/components/schemas/JobSourceType" }
        expiresAt: { type: string, format: date-time, nullable: true }

    BatchRequest:
      type: object
      required: [jobs]
      properties:
        jobs:
          type: array
          items: { $ref: "#/components/schemas/BatchJobItem" }
          minItems: 1
          maxItems: 10000
        companyId:
          type: string
          format: uuid
          description: >-
            Company for all jobs in this batch. Required when the API key is not
            scoped to a company (e.g. admin Bearer or dev API key).
        source:
          type: string
          description: Human-readable label for this batch (e.g. "Acme XML feed 2026-06-12")
          example: "acme-feed-20260612"

    BatchResponse:
      type: object
      required: [batchId, status, count]
      properties:
        batchId:
          type: string
          format: uuid
          description: Use this ID to poll /api/v1/jobs/batch/{batchId}/status
        status:
          type: string
          enum: [queued, processing, completed, failed]
        count:
          type: integer
          description: Total number of jobs submitted
        message:
          type: string
          description: Human-readable status note

    BatchStatus:
      type: object
      required: [batchId, status, total, created, updated, skipped, failed]
      properties:
        batchId: { type: string, format: uuid }
        status: { type: string, enum: [queued, processing, completed, failed] }
        total: { type: integer }
        created: { type: integer }
        updated:
          type: integer
        skipped:
          type: integer
          description: Duplicate external_id, no change
        failed:
          type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              index: { type: integer }
              externalId: { type: string, nullable: true }
              reason: { type: string }
        startedAt: { type: string, format: date-time, nullable: true }
        completedAt: { type: string, format: date-time, nullable: true }

    # ── Application ───────────────────────────────────────────────────────
    ApplicationStatus:
      type: string
      enum: [new, reviewing, shortlisted, interview, offer, hired, rejected, withdrawn]

    ApplyRequest:
      type: object
      description: |
        Quick-apply payload. Resume is optional. For unauthenticated seekers, 
        `name` and `phone` are required. Authenticated seekers may omit them 
        — profile values are used automatically.
      properties:
        name:
          type: string
          example: Marcus Johnson
          description: Required if not authenticated
        phone:
          type: string
          example: "+12145550192"
          description: Required if not authenticated
        zip:
          type: string
          example: "75201"
        coverNote:
          type: string
          maxLength: 2000
          description: Optional cover note (1–3 sentences recommended)
          nullable: true
        resumeUrl:
          type: string
          format: uri
          nullable: true
          description: Pre-signed URL of uploaded resume (upload separately to /uploads/resume)
        interviewSlotId:
          type: string
          format: uuid
          nullable: true
          description: Selected interview slot when job has quickHire enabled
        screeningAnswers:
          type: array
          nullable: true
          items:
            type: object
            required: [questionId, answer]
            properties:
              questionId: { type: string, format: uuid }
              answer:
                description: Value type matches question type (boolean, string, number, string[])

    Application:
      type: object
      required: [id, jobId, status, createdAt]
      properties:
        id: { type: string, format: uuid }
        jobId: { type: string, format: uuid }
        applicantId: { type: string, format: uuid, nullable: true }
        status: { $ref: "#/components/schemas/ApplicationStatus" }
        applicantName: { type: string, nullable: true }
        applicantEmail: { type: string, nullable: true }
        applicantPhone: { type: string, nullable: true }
        coverLetter: { type: string, nullable: true }
        resumeUrl: { type: string, format: uri, nullable: true }
        interviewBooking:
          type: object
          nullable: true
          properties:
            slotId: { type: string, format: uuid }
            startsAt: { type: string, format: date-time }
        rating: { type: integer, minimum: 1, maximum: 5, nullable: true }
        rejectionReason: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        job:
          type: object
          nullable: true
          properties:
            id: { type: string, format: uuid }
            title: { type: string }
            slug: { type: string }

    UpdateApplicationStatusRequest:
      type: object
      required: [status]
      properties:
        status: { $ref: "#/components/schemas/ApplicationStatus" }
        rejectionReason: { type: string, nullable: true }
        rating: { type: integer, minimum: 1, maximum: 5, nullable: true }
        note: { type: string, nullable: true, description: Internal employer note }

    # ── Company ──────────────────────────────────────────────────────────
    Company:
      type: object
      required: [id, name, slug, status]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        website: { type: string, format: uri, nullable: true }
        logoUrl: { type: string, format: uri, nullable: true }
        location: { type: string, nullable: true }
        hqCity: { type: string, nullable: true }
        hqState: { type: string, nullable: true }
        industry: { type: string, nullable: true }
        verified: { type: boolean }
        verificationStatus:
          type: string
          enum: [unverified, pending, approved, rejected]
        postingCredits: { type: integer }
        featuredCredits: { type: integer }
        status:
          type: string
          enum: [active, suspended, pending]
        createdAt: { type: string, format: date-time }

    CreateCompanyRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, nullable: true }
        website: { type: string, format: uri, nullable: true }
        location: { type: string, nullable: true }
        hqCity: { type: string, nullable: true }
        hqState: { type: string, nullable: true }
        industry: { type: string, nullable: true }

    # ── Admin — Ad Campaign ──────────────────────────────────────────────
    AdSlotPosition:
      type: string
      enum:
        - hero_banner
        - sidebar_top
        - sidebar_bottom
        - job_list_inline
        - job_detail_top
        - job_detail_bottom
        - category_banner
        - footer_strip

    CreateAdCampaignRequest:
      type: object
      required: [title, imageUrl, targetUrl, slot, startDate, endDate]
      properties:
        title: { type: string }
        imageUrl: { type: string, format: uri }
        targetUrl: { type: string, format: uri }
        slot: { $ref: "#/components/schemas/AdSlotPosition" }
        companyId: { type: string, format: uuid, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        dailyBudgetCents: { type: integer, nullable: true }
        targetCategories:
          type: array
          items: { type: string }
          nullable: true
        targetStates:
          type: array
          items: { type: string }
          nullable: true

    Advertisement:
      type: object
      required: [id, title, imageUrl, targetUrl, slot, status, startDate, endDate]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        imageUrl: { type: string, format: uri }
        targetUrl: { type: string, format: uri }
        slot: { $ref: "#/components/schemas/AdSlotPosition" }
        status: { type: string, enum: [active, paused, ended] }
        impressions: { type: integer }
        clicks: { type: integer }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        createdAt: { type: string, format: date-time }

    # ── Admin Stats ──────────────────────────────────────────────────────
    PlatformStats:
      type: object
      properties:
        jobs:
          type: object
          properties:
            total: { type: integer }
            active: { type: integer }
            featured: { type: integer }
            direct: { type: integer, description: Company-posted }
            scraped: { type: integer }
        applications:
          type: object
          properties:
            total: { type: integer }
            last30Days: { type: integer }
            hired: { type: integer }
        users:
          type: object
          properties:
            seekers: { type: integer }
            vendors: { type: integer }
        revenue:
          type: object
          properties:
            mtdCents: { type: integer }
            ytdCents: { type: integer }

    # ── Notifications (Phase 4.5) ───────────────────────────────────────
    NotificationType:
      type: string
      enum: [system, application, message, marketing, auth]

    Notification:
      type: object
      required: [id, userId, title, body, type, createdAt, read]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        title: { type: string }
        body: { type: string }
        link: { type: string, nullable: true }
        type: { $ref: "#/components/schemas/NotificationType" }
        senderId: { type: string, format: uuid, nullable: true }
        read: { type: boolean }
        readAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    NotificationPreferences:
      type: object
      required: [emailTransactional, emailMarketing, smsTransactional, smsMarketing, inApp]
      properties:
        emailTransactional: { type: boolean, default: true }
        emailMarketing: { type: boolean, default: false }
        smsTransactional: { type: boolean, default: true }
        smsMarketing: { type: boolean, default: false }
        inApp: { type: boolean, default: true }

    UpdateNotificationPreferencesRequest:
      type: object
      properties:
        emailTransactional: { type: boolean }
        emailMarketing: { type: boolean }
        smsTransactional: { type: boolean }
        smsMarketing: { type: boolean }
        inApp: { type: boolean }

    SendOtpRequest:
      type: object
      required: [channel, destination]
      properties:
        channel: { type: string, enum: [email, sms] }
        destination:
          type: string
          description: Email address or E.164 phone number
        purpose:
          type: string
          enum: [verify_contact, login_2fa, enable_2fa]
          default: verify_contact

    VerifyOtpRequest:
      type: object
      required: [channel, destination, code]
      properties:
        channel: { type: string, enum: [email, sms] }
        destination: { type: string }
        code: { type: string, minLength: 4, maxLength: 8 }
        purpose: { type: string, enum: [verify_contact, login_2fa, enable_2fa] }

    Enable2faRequest:
      type: object
      required: [method]
      properties:
        method: { type: string, enum: [sms, email] }
        phone: { type: string, description: Required when method is sms }
        email: { type: string, format: email, description: Required when method is email }

    Verify2faRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, minLength: 4, maxLength: 8 }
        challengeId:
          type: string
          format: uuid
          description: Returned by login when MFA is required

    CampaignChannel:
      type: string
      enum: [email, sms]

    CampaignStatus:
      type: string
      enum: [draft, scheduled, sending, sent, cancelled, failed]

    MarketingCampaign:
      type: object
      required: [id, name, channel, status, createdAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        channel: { $ref: "#/components/schemas/CampaignChannel" }
        status: { $ref: "#/components/schemas/CampaignStatus" }
        segment:
          type: object
          additionalProperties: true
          description: Role, geo, or custom filter JSON
        subject: { type: string, nullable: true }
        htmlBody: { type: string, nullable: true }
        textBody: { type: string, nullable: true }
        scheduledAt: { type: string, format: date-time, nullable: true }
        sentAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    CreateCampaignRequest:
      type: object
      required: [name, channel]
      properties:
        name: { type: string }
        channel: { $ref: "#/components/schemas/CampaignChannel" }
        segment: { type: object, additionalProperties: true }
        subject: { type: string }
        htmlBody: { type: string }
        textBody: { type: string }
        scheduledAt: { type: string, format: date-time, nullable: true }

    CampaignStats:
      type: object
      required: [campaignId, targeted, sent, delivered, bounced, optedOut, failed]
      properties:
        campaignId: { type: string, format: uuid }
        targeted: { type: integer }
        sent: { type: integer }
        delivered: { type: integer }
        bounced: { type: integer }
        optedOut: { type: integer }
        failed: { type: integer }

  # ──────────────────────────────────────────────────────────────────────────
  # Reusable responses
  # ──────────────────────────────────────────────────────────────────────────

  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { code: UNAUTHORIZED, message: "Invalid or expired token" }
    Forbidden:
      description: Authenticated but insufficient role
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { code: FORBIDDEN, message: "Admin role required" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { code: NOT_FOUND, message: "Job not found" }
    UnprocessableEntity:
      description: Validation failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            code: VALIDATION_ERROR
            message: "title must be at least 3 characters"
            details: { field: title }
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { code: RATE_LIMITED, message: "Too many requests; retry after 60 seconds" }

  # ──────────────────────────────────────────────────────────────────────────
  # Reusable parameters
  # ──────────────────────────────────────────────────────────────────────────

  parameters:
    PageParam:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PageSizeParam:
      name: pageSize
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }

# ──────────────────────────────────────────────────────────────────────────────
# Tags
# ──────────────────────────────────────────────────────────────────────────────

tags:
  - name: System
    description: Health checks and system information
  - name: Auth
    description: Registration, login, token refresh, email verification, password reset
  - name: Jobs
    description: Job posting, search, and management
  - name: Batch
    description: Bulk job ingestion for scrapers and feed partners
  - name: Applications
    description: Job application submission and pipeline management
  - name: Companies
    description: Employer company profiles
  - name: Admin — Jobs
    description: Administrative job moderation and featuring
  - name: Admin — Ads
    description: Advertising campaign management (admin only)
  - name: Admin — Stats
    description: Platform analytics and reporting (admin only)
  - name: Notifications
    description: In-app inbox and user notification preferences (Phase 4.5)
  - name: Webhooks
    description: Inbound provider webhooks (Twilio SMS, Resend email)
  - name: Admin — Campaigns
    description: Admin marketing campaign management (Phase 4.5)

# ──────────────────────────────────────────────────────────────────────────────
# Paths
# ──────────────────────────────────────────────────────────────────────────────

paths:
  # ── System ────────────────────────────────────────────────────────────────

  /api/health:
    get:
      x-implemented: true
      tags: [System]
      summary: Health check
      description: |
        Returns the liveness status of the API and its dependencies 
        (PostgreSQL, Redis, MinIO/R2). Used by load balancers and uptime monitors.
      operationId: getHealth
      responses:
        "200":
          description: All systems healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  db: { type: string, example: up }
                  redis: { type: string, example: up }
                  storage: { type: string, example: up }
                  version: { type: string, example: "1.0.0" }
        "503":
          description: One or more dependencies are unhealthy
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/me:
    get:
      x-implemented: true
      tags: [Auth]
      summary: Get current user
      description: Returns the authenticated user's profile and role.
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserProfile" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Companies ────────────────────────────────────────────────────────────

  /api/v1/companies/mine:
    get:
      x-implemented: true
      tags: [Companies]
      summary: Get the caller's company profile
      operationId: getMyCompany
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Company found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyProfile" }
        "204":
          description: No company exists for this user yet
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/companies:
    post:
      x-implemented: true
      tags: [Companies]
      summary: Create a company profile
      operationId: createCompany
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpsertCompanyBody" }
      responses:
        "201":
          description: Company created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyProfile" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Company already exists for this owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/companies/slug/{slug}:
    get:
      x-implemented: true
      tags: [Companies]
      summary: Get public company profile by slug
      description: Returns an active company profile for public employer landing pages.
      operationId: getCompanyBySlug
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
          example: phase3-demo-cda3940b
      responses:
        "200":
          description: Company profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicCompanyProfile" }
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/companies/{id}:
    patch:
      x-implemented: true
      tags: [Companies]
      summary: Update a company profile
      operationId: updateCompany
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpsertCompanyBody" }
      responses:
        "200":
          description: Company updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyProfile" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Uploads ───────────────────────────────────────────────────────────────

  /api/v1/uploads/logo:
    post:
      x-implemented: true
      tags: [Uploads]
      summary: Upload a company logo
      description: |
        Accepts `multipart/form-data` with a single `file` field (JPEG, PNG, WebP — max 2 MB).
        Returns a public URL served from MinIO / Cloudflare R2. Requires authentication.
      operationId: uploadCompanyLogo
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                required: [url, key]
                properties:
                  url: { type: string, format: uri, example: "http://localhost:9000/company-logos/abc123" }
                  key: { type: string, example: "abc123-uuid" }
        "400":
          description: Missing or invalid file
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: File too large (max 2 MB)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ── Auth ──────────────────────────────────────────────────────────────────

  /api/v1/auth/register:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Register a new account
      description: |
        Creates a new seeker or vendor account and sends an email verification link.
        The account is not fully active until the email is verified.
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: Account created; verification email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Account created. Check your email to verify." }
                  userId: { type: string, format: uuid }
        "409":
          description: Email already registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: CONFLICT, message: "Email already registered" }
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/login:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Login
      description: Authenticates with email + password and returns access and refresh tokens.
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { code: INVALID_CREDENTIALS, message: "Email or password incorrect" }
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/logout:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Logout
      description: Revokes the current refresh token. The access token expires naturally (TTL).
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/refresh:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Refresh access token
      description: Exchanges a valid refresh token for a new access + refresh token pair.
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        "200":
          description: New token pair issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/auth/verify-email:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Verify email address
      description: |
        Confirms the email address using the token sent in the verification email.
        Tokens expire after 24 hours.
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: Token from the verification email link }
      responses:
        "200":
          description: Email verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Email verified successfully" }
        "400":
          description: Token invalid or expired
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/auth/forgot-password:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Request password reset
      description: Sends a password-reset email if the address is registered.
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Reset email sent (always 200 to prevent email enumeration)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    {
                      type: string,
                      example: "If that email is registered, a reset link has been sent.",
                    }
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/reset-password:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Reset password
      description: Sets a new password using the token from the reset email. Tokens expire after 1 hour.
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, minLength: 8 }
      responses:
        "200":
          description: Password updated; all existing refresh tokens revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Password updated. Please log in again." }
        "400":
          description: Token invalid or expired
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/auth/send-otp:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Send OTP code
      description: |
        Sends a one-time passcode via email (Resend) or SMS (Twilio Verify).
        Rate limited to 5 requests per minute per IP.
      operationId: sendOtp
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SendOtpRequest" }
      responses:
        "200":
          description: OTP dispatched (never returns the code)
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string, example: "Verification code sent." }
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /api/v1/auth/verify-otp:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Verify OTP code
      description: Validates a one-time passcode for contact verification or MFA step-up.
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerifyOtpRequest" }
      responses:
        "200":
          description: OTP verified
          content:
            application/json:
              schema:
                type: object
                required: [verified]
                properties:
                  verified: { type: boolean, example: true }
        "400":
          description: Invalid or expired code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/enable-2fa:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Enable two-factor authentication
      description: |
        Enables SMS or email OTP as a second factor for vendor/admin accounts.
        Requires an authenticated session and a verified contact method.
      operationId: enable2fa
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Enable2faRequest" }
      responses:
        "200":
          description: 2FA enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Two-factor authentication enabled." }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /api/v1/auth/verify-2fa:
    post:
      x-implemented: true
      tags: [Auth]
      summary: Complete login with 2FA
      description: |
        Second step after password login when MFA is enabled. Returns full auth tokens on success.
      operationId: verify2fa
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Verify2faRequest" }
      responses:
        "200":
          description: MFA verified; tokens issued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400":
          description: Invalid code or expired challenge
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          $ref: "#/components/responses/TooManyRequests"

  # ── Jobs ──────────────────────────────────────────────────────────────────

  /api/v1/jobs:
    post:
      x-implemented: true
      tags: [Jobs]
      summary: Post a job
      description: |
        Creates a new job posting. Behaviour differs by caller role:

        - **admin**: may specify any `companyId`; status defaults to `published`
        - **vendor**: `companyId` is inferred from the caller's company; must supply 
          `companyPackageId` to consume a posting credit; status defaults to `draft`

        Screening questions (if provided) are created atomically with the job.
      operationId: createJob
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateJobRequest" }
      responses:
        "201":
          description: Job created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "400":
          description: Insufficient posting credits (vendor) or invalid companyPackageId
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    get:
      x-implemented: true
      tags: [Jobs]
      summary: Search jobs
      description: |
        Full-text search and filtered listing of active jobs.
        Results are sorted: featured WJ-direct jobs first, then by recency.
        Scraped jobs always rank below direct/api/syndicated posts.
      operationId: searchJobs
      parameters:
        - name: q
          in: query
          schema: { type: string }
          description: Full-text query
        - name: category
          in: query
          schema: { type: string }
        - name: city
          in: query
          schema: { type: string }
        - name: state
          in: query
          schema: { type: string }
        - name: zip
          in: query
          schema: { type: string }
        - name: radius
          in: query
          schema: { type: integer, default: 25 }
          description: Radius in miles (requires zip)
        - name: shift
          in: query
          schema: { $ref: "#/components/schemas/JobShift" }
        - name: employmentType
          in: query
          schema: { $ref: "#/components/schemas/EmploymentType" }
        - name: payMin
          in: query
          schema: { type: number }
        - name: featured
          in: query
          schema: { type: boolean }
        - name: quickHire
          in: query
          schema: { type: boolean }
        - name: companyId
          in: query
          schema: { type: string, format: uuid }
          description: Filter by employer company
        - name: weeklyPay
          in: query
          schema: { type: boolean }
          description: Filter jobs offering weekly pay
        - name: temperatureEnv
          in: query
          schema: { $ref: "#/components/schemas/TemperatureEnv" }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated job listing
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/JobSummary" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }

  /api/v1/jobs/mine:
    get:
      x-implemented: true
      tags: [Jobs]
      summary: List my company's jobs
      description: |
        Returns all jobs for the authenticated vendor's company across every status
        (draft, published, closed, etc.). Admins may optionally filter by `companyId`.
      operationId: listMyJobs
      security:
        - BearerAuth: []
      parameters:
        - name: companyId
          in: query
          schema: { type: string, format: uuid }
          description: Admin-only filter for a specific company
        - name: q
          in: query
          schema: { type: string }
          description: Full-text query
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated job listing
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Job" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/jobs/{slug}:
    get:
      x-implemented: true
      tags: [Jobs]
      summary: Get job detail
      description: Returns a single active job by its URL slug, including company info and screening questions.
      operationId: getJob
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Job detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Job"
                  - type: object
                    properties:
                      screeningQuestions:
                        type: array
                        items: { $ref: "#/components/schemas/ScreeningQuestion" }
                      interviewSlots:
                        type: array
                        description: Available interview slots (when quickHire = true)
                        items:
                          type: object
                          properties:
                            id: { type: string, format: uuid }
                            startsAt: { type: string, format: date-time }
                            capacity: { type: integer }
                            remaining: { type: integer }
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/jobs/{id}:
    patch:
      x-implemented: true
      tags: [Jobs]
      summary: Update job
      description: Partial update of a job. Vendor callers may only update their own company's jobs.
      operationId: updateJob
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateJobRequest" }
      responses:
        "200":
          description: Updated job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

    delete:
      x-implemented: true
      tags: [Jobs]
      summary: Close / delete job
      description: Soft-deletes the job (status → closed). Only admins or the owning vendor.
      operationId: deleteJob
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Job closed
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Batch ─────────────────────────────────────────────────────────────────

  /api/v1/jobs/batch:
    post:
      x-implemented: true
      tags: [Batch]
      summary: Ingest a batch of jobs
      description: |
        Accepts a batch of job records from scrapers or feed partners.

        **Sync mode** (≤100 jobs): processed inline; result returned immediately.
        **Async mode** (>100 jobs): enqueued via BullMQ; returns a `batchId` to poll.

        Supports two content types:
        - `application/json` — JSON payload with a `jobs` array
        - `multipart/form-data` — CSV file upload (one row per job, header required)

        **Deduplication**: jobs are matched by `externalId`. If a match is found
        and the content differs, the record is updated (`updated` counter). If
        identical, it is skipped (`skipped` counter).

        **Priority**: batch-ingested jobs rank below direct/vendor/api posts in
        search results (`sourceType` field controls ordering).
      operationId: ingestBatch
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BatchRequest" }
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file (UTF-8, header row required)
                source:
                  type: string
                  description: Human-readable batch label
      responses:
        "200":
          description: Sync result (batch ≤100 jobs, processed immediately)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BatchStatus" }
        "202":
          description: Async result (batch >100 jobs, queued for processing)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BatchResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/v1/jobs/batch/{batchId}/status:
    get:
      x-implemented: true
      tags: [Batch]
      summary: Poll batch status
      description: Returns processing progress for an async batch job.
      operationId: getBatchStatus
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Batch status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BatchStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Applications ──────────────────────────────────────────────────────────

  /api/v1/jobs/{jobId}/apply:
    post:
      tags: [Applications]
      summary: Apply to a job (Quick Apply)
      description: |
        Submits a job application. Designed for a ≤60-second mobile flow.

        **Unauthenticated** seekers must supply `name` and `phone`.
        **Authenticated** seekers have their profile snapshot applied automatically;
        `name` and `phone` can be omitted.

        Resume upload is always optional. If the seeker has a stored default resume
        it is attached automatically (authenticated only) unless overridden.

        If the job has `quickHire = true` and interview slots are available,
        `interviewSlotId` should be provided to book a slot atomically.

        Rate limited: 10 applications per seeker per hour.
      operationId: applyToJob
      security:
        - BearerAuth: []
        - {} # Allow unauthenticated
      parameters:
        - name: jobId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApplyRequest" }
      responses:
        "201":
          description: Application submitted
          content:
            application/json:
              schema:
                type: object
                required: [applicationId]
                properties:
                  applicationId: { type: string, format: uuid }
                  interviewBooked: { type: boolean }
                  interviewStartsAt: { type: string, format: date-time, nullable: true }
                  message: { type: string, example: "Application sent!" }
        "409":
          description: Already applied to this job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/v1/applications:
    get:
      tags: [Applications]
      summary: List seeker's applications
      description: Returns the authenticated seeker's own applications with current status and job detail.
      operationId: listMyApplications
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/ApplicationStatus" }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated application list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Application" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/employer/applications:
    get:
      tags: [Applications]
      summary: List applicants (employer pipeline)
      description: |
        Returns applications for all jobs owned by the vendor's company.
        Supports filtering by job, status, and date range.
      operationId: listEmployerApplications
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/ApplicationStatus" }
        - name: since
          in: query
          schema: { type: string, format: date }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated applicant list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Application" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/applications/{id}/status:
    patch:
      tags: [Applications]
      summary: Update application status
      description: |
        Moves an applicant through the pipeline stages.
        Only the owning employer or an admin may call this endpoint.

        Valid transitions:
        - `new → reviewing → shortlisted → interview → offer → hired`
        - `any → rejected` or `any → withdrawn` (terminal states)
      operationId: updateApplicationStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateApplicationStatusRequest" }
      responses:
        "200":
          description: Updated application
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Application" }
        "400":
          description: Invalid state transition
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Admin — Companies ─────────────────────────────────────────────────────

  /api/v1/admin/companies:
    get:
      x-implemented: true
      tags: [Admin — Companies]
      summary: List all companies (admin)
      operationId: adminListCompanies
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          schema: { type: string }
          description: Filter by name (case-insensitive contains)
        - name: verificationStatus
          in: query
          schema:
            type: string
            enum: [unverified, pending, verified, rejected]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended]
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated company list
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AdminCompanyRecord" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/admin/companies/{id}:
    patch:
      x-implemented: true
      tags: [Admin — Companies]
      summary: Update a company (admin — verify, suspend, reject)
      operationId: adminUpdateCompany
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AdminUpdateCompanyBody" }
      responses:
        "200":
          description: Updated company
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminCompanyRecord" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Admin — Jobs ──────────────────────────────────────────────────────────

  /api/v1/admin/jobs:
    get:
      x-implemented: true
      tags: [Admin — Jobs]
      summary: List all jobs (admin)
      description: Returns all jobs across all statuses for moderation. Admin only.
      operationId: adminListJobs
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/JobStatus" }
        - name: sourceType
          in: query
          schema: { $ref: "#/components/schemas/JobSourceType" }
        - name: companyId
          in: query
          schema: { type: string, format: uuid }
        - name: q
          in: query
          schema: { type: string }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Job" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/admin/jobs/{id}/feature:
    patch:
      x-implemented: true
      tags: [Admin — Jobs]
      summary: Toggle featured status
      description: Sets or clears the featured flag on a job, with an optional expiry date. Admin only.
      operationId: adminFeatureJob
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [featured]
              properties:
                featured: { type: boolean }
                featuredUntil: { type: string, format: date-time, nullable: true }
      responses:
        "200":
          description: Updated job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Admin — Ads ───────────────────────────────────────────────────────────

  /api/v1/admin/ads:
    post:
      tags: [Admin — Ads]
      summary: Create ad campaign
      description: |
        Creates a new banner advertising campaign. Admin only.

        Slot positions map to specific UI locations (hero banner, sidebar, 
        inline in job lists, category pages, etc.). Campaigns are activated
        automatically on `startDate` and deactivated on `endDate`.
      operationId: createAdCampaign
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAdCampaignRequest" }
      responses:
        "201":
          description: Campaign created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Advertisement" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }

    get:
      tags: [Admin — Ads]
      summary: List ad campaigns
      description: Lists all advertising campaigns with impression and click metrics. Admin only.
      operationId: listAdCampaigns
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [active, paused, ended] }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Advertisement" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  # ── Admin — Stats ─────────────────────────────────────────────────────────

  /api/v1/admin/stats:
    get:
      tags: [Admin — Stats]
      summary: Platform statistics
      description: Returns aggregate platform metrics — jobs, applications, users, and revenue. Admin only.
      operationId: getPlatformStats
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Platform statistics
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformStats" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  # ── Notifications (Phase 4.5) ───────────────────────────────────────────

  /api/v1/notifications:
    get:
      x-implemented: true
      tags: [Notifications]
      summary: List in-app notifications
      description: Paginated inbox for the authenticated user, newest first.
      operationId: listNotifications
      security:
        - BearerAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema: { type: boolean, default: false }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated notifications
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Notification" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/notifications/{id}/read:
    patch:
      x-implemented: true
      tags: [Notifications]
      summary: Mark notification read
      operationId: markNotificationRead
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Updated notification
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Notification" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/notifications/read-all:
    post:
      x-implemented: true
      tags: [Notifications]
      summary: Mark all notifications read
      operationId: markAllNotificationsRead
      security:
        - BearerAuth: []
      responses:
        "200":
          description: All notifications marked read
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated: { type: integer, example: 12 }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/notifications/preferences:
    get:
      x-implemented: true
      tags: [Notifications]
      summary: Get notification preferences
      operationId: getNotificationPreferences
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User preferences
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      x-implemented: true
      tags: [Notifications]
      summary: Update notification preferences
      operationId: updateNotificationPreferences
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateNotificationPreferencesRequest" }
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  # ── Webhooks (Phase 4.5) ──────────────────────────────────────────────────

  /api/v1/webhooks/twilio/sms:
    post:
      x-implemented: true
      tags: [Webhooks]
      summary: Twilio inbound SMS webhook
      description: |
        Public endpoint validated via `X-Twilio-Signature`. Handles STOP/HELP and
        routes conversational replies to the notifications domain.
      operationId: twilioSmsWebhook
      security: []
      parameters:
        - name: X-Twilio-Signature
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook accepted (TwiML or empty)
        "403":
          description: Invalid signature

  /api/v1/webhooks/resend/inbound:
    post:
      x-implemented: true
      tags: [Webhooks]
      summary: Resend inbound email webhook
      description: Public endpoint validated via Resend webhook signature.
      operationId: resendInboundWebhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook accepted
        "403":
          description: Invalid signature

  # ── Admin — Campaigns (Phase 4.5) ─────────────────────────────────────────

  /api/v1/admin/campaigns:
    post:
      x-implemented: true
      tags: [Admin — Campaigns]
      summary: Create marketing campaign
      operationId: createMarketingCampaign
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateCampaignRequest" }
      responses:
        "201":
          description: Campaign created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketingCampaign" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    get:
      x-implemented: true
      tags: [Admin — Campaigns]
      summary: List marketing campaigns
      operationId: listMarketingCampaigns
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/CampaignStatus" }
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MarketingCampaign" }
                  meta: { $ref: "#/components/schemas/PaginationMeta" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/admin/campaigns/{id}:
    get:
      x-implemented: true
      tags: [Admin — Campaigns]
      summary: Get marketing campaign
      operationId: getMarketingCampaign
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Campaign detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketingCampaign" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/admin/campaigns/{id}/send:
    post:
      x-implemented: true
      tags: [Admin — Campaigns]
      summary: Send or schedule campaign
      description: Queues delivery via BullMQ. Requires marketing opt-in compliance checks.
      operationId: sendMarketingCampaign
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "202":
          description: Campaign queued for delivery
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketingCampaign" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/admin/campaigns/{id}/stats:
    get:
      x-implemented: true
      tags: [Admin — Campaigns]
      summary: Campaign delivery statistics
      operationId: getMarketingCampaignStats
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Delivery stats
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignStats" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
